/* BELOW 1200px */

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .edit-item__wrapper {
    margin-left: 4.8rem;
  }
}

/* BELOW 944px */

@media (max-width: 75em) {
  html {
    font-size: 50%;
  }
}
